body {
    font-family: "Verdana",verdana, sans;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.5;
    color: #191818;
    text-align: left;
}

.btn-default {
    background-color: #f4f4f4;
    font-size: 12px;
    color: #444;
    border-color: #ddd;
}


.bttn-bordered.bttn-sm {
    padding: 4px 10px !important;
    font-size: 14px !important;
    font-family: inherit;
}


.shiny-output-error{
    color: #e42312 !important;
    white-space: pre-wrap;
}


.container-fluid {
    padding-top: 10px !important;
}


.font-weight-light {
  font-family: "Verdana", verdana, sans;
  font-size: 11px;
  font-weight: 500 !important;

}

.main-header.navbar.navbar-expand.bg-danger.navbar-light.border-bottom{
  background-color: #e42312!important;
}

.bg-danger, .alert-danger, .alert-error, .label-danger {
    background-color: #e42312!important;
}

.sidebar-light-danger {
    background-color: #e42312!important;
}

h3.card-title.p-3.ml-auto{
 color: #e42312; 
}

.col-sm-12 {
    padding-top: 5px !important;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    font-size: 14px;
    background-color: #e42312;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}



.nav-pills .nav-link {
  font-size: 13px;
    color: #020202;
}



.small-box.bg-danger.elevation-5 {
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}

.bttn-bordered.bttn-md {
    font-size: 12px;
    font-family: inherit;
    padding: 5px 12px;
    color: #fff;
    background-color: #e42312;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}
  

.bttn-bordered.bttn-default {
    color: #fff;
    background-color: #e42312;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}

.dataTables_info { display: none; }


.add_strategy.btn.btn-default.action-button {
    font-size: 12px;
    font-family: inherit;
    padding: 5px 12px;
    color: #fff;
    background-color: #e42312;
    -webkit-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    -moz-box-shadow: 3px 3px 3px 0px rgba(181,181,181,1); 
    box-shadow: 3px 3px 3px 0px rgba(181,181,181,1);
}

div.card-header {
    position: relative;
    background-color: #fff;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.card-body {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}


.dataTable tbody td {
    padding: 3px 10px;
}


.info-box-number {
    font-size: 23px;
    display: block;
    font-weight: 700;
}

.progress-description, .info-box-text {
    font-size: 14px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.form-control {
  font-size: 11pt !important;
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    font-size: 11pt !important;
}


.user-panel {
 padding-left:1px;
 padding-right:1px;
}


.row{
  margin-right:1px;
  margin-left:1px;
}
/*
  # #D36027
  # #006BAE
  # #37A9DB
  # #00A074
  # #828B9B
  # 
  # #d36027 - light brown
  # #006BAE - mid blue
  # #37A9DB - light blue
  # #00a074  light green
  # #828B9B grey 


*/
.brand-link{
  padding:4.5px;
}

